save=true
fund=false
audit=false
progress=false
loglevel=error
fetch-retries=5
fetch-retry-factor=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
legacy-peer-deps=false
strict-peer-dependencies=false
optional=false
registry=https://registry.npmjs.org/
